PORT=3000
ADMIN_SECRET=1234
LIVE_URL=https://vt.tiktok.com/ZS9L7DfHMTgbR-ieGCG/
VAPID_SUBJECT=mailto:test@test.com
VAPID_PUBLIC_KEY=BIPSNPpNdxQaUs6PBPo_IQsD5paX5GgsrCTO7dmPv_osSR_VIvzTHbXhuabkN1qVzdecOUZaQzrTDNjZCXcOaHE
VAPID_PRIVATE_KEY=PASTE_YOUR_PRIVATE_KEY
